#article-container h1:before {
    content: "H1";

}
#article-container h2:before {
    content: "H2";
}
#article-container h3:before {
    content: "H3";
}
#article-container h4:before {
    content: "H4";
}
#article-container h5:before {
    content: "H5";
}
#article-container h6:before {
    content: "H6";
}
#article-container>h1,
#article-container>h2,
#article-container>h3,
#article-container>h4,
#article-container>h5,
#article-container>h6,
.post-title {
    font-family: "Microsoft JhengHei"!important;
    font-size: 28px;
}

h1#site-title {
    font-family:title!important
}
span#subtitle {
    font-family:arzhu!important
}
a#site-name {
    font-family:title!important
}

#page-header {
    background: transparent!important;
}


#web_bg {
    position: fixed;
    z-index: -999;
    width: 100%;
    height: 100%;
    background: url(/img/background.jpg);
    background-attachment: local;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

@font-face {
    font-family: 'ZhuZiAYuanJWD';
    src: url('/font/ZhuZiAWan.ttf');
    font-display: swap;
    font-weight: lighter
}

#article-container {
    font-family: 'ZhuZiAYuanJWD';
    font-size: 18px;
}

#footer-wrap {
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

[data-theme='dark'] #footer-wrap a {
    color: #a8a5a5;
}

[data-theme='dark'] #footer-wrap {
    color: #a8a5a5;
}

#rightside>div>a, #rightside>div>button {
    border-radius: 8px;
}

#rightside>div>a, #rightside>div>button {
    margin-bottom: 8px;
}

#rightside > div > button, #rightside > div > a {
    width: 40px !important;
    height: 40px !important;
    font-size: 18px !important;
}

#rightside-config-hide {
    transform: translate(55px, 0)!important;
}

#rightside {
    transform: translateX(-50px)!important;
    bottom: 40px !important;
}

div .tabs {
    background: var(--card-bg)!important;
}


#footer {
    background: rgba(255,255,255,.15);
    color: #000;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    backdrop-filter: saturate(100%) blur(5px)
}

#footer::before {
    background: rgba(255,255,255,.15)
}

#content-inner {
  // 白天模式下 卡片背景色
  --light_bg_color: rgba(255, 255, 255, 0.6);
  // 夜间模式下 卡片背景色
  --dark_bg_color: rgba(18, 18, 18, 0.8);
  // 白天模式下 页面背景色
  --light_page_color: rgba(255, 255, 255, 0.5);
  // 夜间模式下 页面背景色
  --dark_page_color: rgba(18, 18, 18, 0.8);
}

@font-face {
    font-family:'arzhu';
    src:url('/font/素材集市康康体.ttf'); /* 修改成你的字体 */
    font-display:swap
}

@font-face {
    font-family: 'title';
    src:url('/font/杨任东竹石体-Bold.ttf');
    font-display: swap;
}

#post .post-copyright {
    -webkit-box-shadow: 2px 2px 5px;
    box-shadow: 2px 2px 5px;
}

[data-theme="dark"] #post .post-copyright {
    
}

body {
    cursor: url(/cursor/default.cur),
        default;
}



a, img, i {
    cursor: url(/cursor/pointer.cur),
        default;
}

/* 滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: #49b1f5;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #49b1f5;
}

/*aplayer日间模式调整*/
/*背景色*/
.aplayer{
    background: rgba(255, 255, 255, .95)!important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07),0 1px 5px 0 rgba(0,0,0,.1);
    position: relative;
}
.aplayer.aplayer-fixed .aplayer-lrc:after,.aplayer.aplayer-fixed .aplayer-lrc:before {
    display: none
}
.aplayer-list-cur {
    background: #37ABF7!important;
}
.aplayer.aplayer.aplayer-fixed .aplayer-body{
    background:rgba(255, 255, 255, .95)!important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.07),0 1px 5px 0 rgba(0,0,0,.1);
    position: fixed;
}
/*毛玻璃效果*/
.aplayer-list{
    backdrop-filter: blur(3px);
}
.aplayer-info{
    backdrop-filter: blur(3px);
}
/*滚动条*/
.aplayer .aplayer-list ol::-webkit-scrollbar {
    width: 5px;
}
.aplayer .aplayer-list ol::-webkit-scrollbar-thumb {
    border-radius: 3px !important;
    background-color: #49b1f5 !important;
}
.aplayer .aplayer-list ol::-webkit-scrollbar-thumb:hover {
    background-color: #49b1f5 !important;
}

/*圆角*/
.aplayer.aplayer-fixed .aplayer-list{
    border-radius: 6px 6px 0 0!important;
}
.aplayer.aplayer-fixed .aplayer-miniswitcher{
    border-radius: 0 6px 6px 0!important;
}
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body{
    transition: 0.28s!important;
    border-radius: 6px!important;
}   

/*aplayer黑暗模式*/
[data-theme=dark]
.aplayer{
    background: rgba(22, 22, 22, 0.60)!important;
    color: rgb(255, 255, 255);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.07),0 1px 5px 0 rgba(0,0,0,.1);
}
[data-theme=dark]
.aplayer.aplayer-fixed .aplayer-body{
    background: rgba(22, 22, 22, 0.60)!important;
    color: rgb(255, 255, 255);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.07),0 1px 5px 0 rgba(0,0,0,.1);
}
[data-theme=dark]
.aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon path{
    fill: #d4d4d4;
}
/*选中与播放中歌曲激活颜色*/
[data-theme=dark]   
.aplayer .aplayer-list ol li:hover{
    background: #2B2B2B!important;
}
[data-theme=dark]
.aplayer .aplayer-list ol li.aplayer-list-light{
    background: #2B2B2B!important;
}


[data-theme=dark]
.aplayer .aplayer-info .aplayer-controller .aplayer-time{
    color: #d4d4d4;
}
[data-theme=dark]
.aplayer .aplayer-list ol li .aplayer-list-index{
    color: #d4d4d4;
}
[data-theme=dark]
.aplayer .aplayer-list ol li .aplayer-list-author{
    color: #d4d4d4;
}